<!--
  Generated template for the AdvertDetailsPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Moje ogłoszenia</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      <div class="col-md-4 col-md-offset-4 text-center">
        {{ advert.topic }}
      </div>
    </ion-card-header>
    <ion-card-content>
      <div class="col-md-6">
        <h3> Treść: {{ advert.body }} </h3>
        <p> Liczba wyświetleń: {{ advert.view_count }} </p>
      </div>
      <div class="col-md-6">
        <img [src]="imgUrl"/>
      </div>
    </ion-card-content>
  </ion-card>
  <comments-list></comments-list>
  <form (ngSubmit)="createComment()">
    <ion-list>
      <ion-item>
        <ion-label>Treść:</ion-label>
        <ion-textarea [ngModel]="commentMessage" (input)="commentMessage = $event.target.value" name="commentMessage"></ion-textarea>
      </ion-item>
      <div *ngIf="error" class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    </ion-list>
    <div>
      <button ion-button>
        Dodaj Komentarz
      </button>
    </div>
  </form>
  <ion-list>
    <ion-item *ngFor="let comment of comments">
        {{comment.author}}: &nbsp;{{comment.title}}
    </ion-item>
  </ion-list>
</ion-content>

