page-landing {
  .main-header {
    font-size: 3rem;
  }

  .content-wrapper {
    background: url('../../assets/img/02.jpg') right center no-repeat;
    background-size: cover;
    color: #ffffff;
  }

  .logo {
    max-height: 8rem;
  }

  .banner {
    height: 128px;
    background-color: grey;
    color: #ffffff;
  }

}
