page-landing {

  .bg {
    background: linear-gradient(45deg, #36D1DC, #5B86E5);
    color: #ffffff;
  }

  .content-wrapper {
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .login-button-wrapper {
    margin-bottom: .5rem;
  }

}
