<ion-content>
  <form>
    <ion-list>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" [ngModel]="email" (input)="email = $event.target.value" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Hasło</ion-label>
        <ion-input type="password" [ngModel]="password" (input)="password = $event.target.value" name="password"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button type="submit">
      Zaloguj się
    </button>
  </form>
</ion-content>
